$wordColorBlack: #414040;
$wordColorGrey: #535151;
$wordColorLightGrey: #8b8b8b;
$wordColorRed: #e64c53;
$sourceSansPro: "Source Sans Pro Semibold";
$sourceSansProRegular: "Source Sans Pro Regular";
$bodyBackgroundColor: #E7EDED;
$carouselPngBackgroundColor: #F3F3F3;
$hoverNavbarGreenColor: #C19E44;


